@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.header {
}
.main {
	font-family: roboto;
	font-style: normal;
}
.our-promise {
	padding:50px 0 121px;
	background: #F5F5F5;
}
.our-promise__container {
	max-width: 1020px;
	margin: 0 auto;
}
.our-promise__title {
	margin-bottom: 68px;
}
.title {
	display: flex;
	flex-direction: column;
	row-gap: 33px;
}
.title__first {
	padding-left: 32px;
	background: url("../img/Mark.svg") 0 -2px / auto no-repeat;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
}
.title__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #000000;
}

.our-promise__features {
	display: flex;
	column-gap: 27px;
}
.our-promise__feature {
}
.feature-our-promise {
	display: flex;
	flex: 1 1 33.333% ;
	column-gap: 23px;
}
.feature-our-promise__image {
}
.promise-image {
}
.feature-our-promise__content {
}
.feature-our-promise__content-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #F2726F;
	margin-bottom: 20px;
}
.feature-our-promise__content-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
.stats {
	padding: 111px 0px 212px;
	background: #29C3BE url("../img/Blob2.svg") 700px 0px no-repeat;
}
.stats__container {
	max-width: 1020px;
	margin: 0 auto;
	position: relative;
}
.stats__title {
}
.title-white {
	display: flex;
	flex-direction: column;
	row-gap: 33px;
	margin-bottom: 79px;
	max-width: 411px;
}
.title-white__first {
	padding-left: 32px;
	background: url("../img/markwhite.svg") 0 -2px / auto no-repeat;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #FFFFFF;

}
.title-white__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #FFFFFF;
}

.stats__block {
	display: flex;
	column-gap: 24px;
	justify-content: space-between;
}
.stats__block-item {
	display: flex;
	column-gap: 11px;
}
.stats__block-item-image {
}
.stats__image {
}
.stats__block-item-content {
}
.stats__block-item-score {
	font-weight: 900;
font-size: 36px;
line-height: 1.16;
color: #FFFFFF;
margin-bottom: 3px;
}
.stats_block-item-name {
	font-size: 16px;
line-height: 1.5;
letter-spacing: 0.15px;
color: #5D62B5;
}

.stats__image {
}
.stats__image-dog {
	border-radius: 40px;
	max-width: 100%;
	position: absolute;
	top: -180px;
	right: -50px;
}
.services {
	background: #F5F5F5 url("../img/Blob3.png") 100% -490px no-repeat;
	padding: 110px
}
.services__container {
	max-width: 1020px;
	margin: 0 auto ;
}

.services__title {
	margin-bottom: 78px;
}
.title {
}
.title__first {
}
.title__subtitle {
}
.services__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 24px;
}
.services__item {
}
.item-services {
	background: #FFFFFF;
	border-radius: 20px;
	padding:50px 44px 50px 43px;
	display: flex;
	flex-direction: column;
	flex: 0 1 33.333% ;
	align-items: center;
	text-align: center;
	max-width: 324px;
	row-gap: 33px;

}
.item-services__image {
}
.services-image {
}
.item-services__content {
}

.item-services__content-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #F2726F;
	margin-bottom: 20px;
}
.item-services__content-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

.button {
	margin-top: 66px;
	display:flex;
	justify-content: center;

}
.link {
	padding: 12px;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	min-width: 124px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 8px;
	min-height: 48px;
	background-color: #F2726F;

}


